@import "tailwindcss";

@layer base {
  body{
    font-family: "Poppins", sans-serif;
  }
}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-scroll {
  animation: scroll 15s linear infinite;
  
}@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-4px); }
  to { opacity: 1; transform: translateY(0); }
}
.animate-fadeIn {
  animation: fadeIn .25s ease-out;
}

/* ===== Scrollbar khusus daftar berita ===== */
.news-scroll::-webkit-scrollbar {
  width: 8px;
}

.news-scroll::-webkit-scrollbar-track {
  background: #e5e5e5;       /* track (warna belakang) */
  border-radius: 8px;
}

.news-scroll::-webkit-scrollbar-thumb {
  background: rgb(177, 177, 177);       /* warna scroll batang */
  border-radius: 8px;
}

.news-scroll::-webkit-scrollbar-thumb:hover {
  background: #e6e6e6;
}
.dark .news-scroll::-webkit-scrollbar-track {
  background: #27272a;
}

.dark .news-scroll::-webkit-scrollbar-thumb {
  background: #454545;
}

